---
interface Props {
  title: string;
  date: Date;
  author: string;
  image?: string;
}

const { title, date, author, image } = Astro.props;
---

<header class="blog-post-header">
  <h1 class="blog-post-title">{title}</h1>
  <div class="blog-post-meta">
    <span class="blog-post-date"
      >发布于 {
        new Date(date).toLocaleDateString("zh-CN", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }</span
    >
    <span class="blog-post-author">作者: {author}</span>
  </div>

  {
    image && (
      <div class="blog-post-image">
        <img src={image} alt={title} />
      </div>
    )
  }
</header>
